# Virtual environments
.venv/
venv/
ENV/
env/
envs/

# Python caching & bytecode
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db
